/* color pallete #492061 - dark purple
    #E3E2E3 - greyish
    #9C87AC - light purple 
*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.gameContainer {
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
}

.box {
    border: 2px solid #000;
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: #9C87AC;
}

.gameInfo{
    padding: 2%;
    font-size: 2vw;
}

.imgBox img{
    display: none;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

body
{
    margin: 1%;
    background-color: #E3E2E3;
    font-family: 'Fredoka One', cursive;
}
