/* color pallete #492061 - dark purple
    #E3E2E3 - greyish
    #9C87AC - light purple 
*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lato:wght@400;600;700&display=swap');

* {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    margin-top: 1%;
}

nav a {
    text-decoration: none;
    font-size: 1.5vw;
    padding: 1vw;
    margin: 1rem;
}

.active {
    border-bottom: 3px solid #492061;
}

.inactive {
    position: relative;
}

.inactive:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #492061;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.inactive:hover {
    background-color: #f4e7ff;
}

.inactive:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* .modes {
    float: right;
}
.material-symbols-outlined{
    font-size: 2.5vw !important;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
} */
/* #dark, #light {
    font-size: 2.5vw !important;
    background-color: transparent;
    text-decoration: none;
    border: none;
    cursor: pointer;
} */
/* 
#light {
    display: none;
} */

.players {
    margin: auto;
}

.container {
    display: inline-grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    padding: 10px;
}

.box {
    border: 2px solid #9C87AC;
    font-size: 7vw;
    cursor: pointer;
}

.box:hover {
    background-color: #f4e7ff;
}

.gameInfo {
    padding-bottom: 1.5%;
}

.info {
    font-size: 2vw;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

body {
    background-color: #fff4ff;
    font-family: 'Fredoka One', cursive;
    color: #492061;
    text-align: center;
}

#reset {
    margin: 1%;
    padding: 0.8% 3%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #492061;
    color: #FFF;
    font-size: 1.5vw;
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 800px) {
    nav {
        height: 2rem;
    }

    nav a {
        font-size: clamp(14px, 4vw, 18px);
    }

    .gameContainer {
        flex-wrap: wrap;
    }

    #reset {
        font-size: clamp(12px, 3vw, 14px);
        /*minimum, preferred & max*/
    }

    .info {
        font-size: clamp(14px, 3.5vw, 16px);
    }

    .container {
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
    }

    /* #dark, #light {
        font-size: clamp(16px, 4vw, 18px) !important;
    }*/
}

/*body.dark-theme {
    color: #eee;
    background: #121212;
    font-family: 'Lato', sans-serif;
}

body.dark-theme .info
{
    font-weight: 700;
}

body.dark-theme nav{
    font-weight: 600;
}

body.dark-theme .box{
    border-color: #eee;
}

body.dark-theme .box:hover{
  background-color: #292929;
}

body.dark-theme #light{
    display: flex;
}

body.dark-theme #dark{
    display: none;
}

   body {
    transition: background 0.2s linear;
  }
  body.dark {
    background-color: #292c35;
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 50px;
    height: 26px;
    background-color:#111;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }
  
  .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  target the elemenent after the label
  .checkbox:checked + .label .ball{
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: pink;
    font-family: 'Font-Awesome';
  }
  
  .fa-sun {
    color: yellow;
    font-family: 'Font-Awesome';
  } */